# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env*
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
