fastapi[standard]
sqlalchemy
psycopg2-binary
python-dotenv
alembic
bcrypt
python-jose[cryptography]
python-multipart
google-generativeai
google-genai
google-cloud-texttospeech
sse-starlette
boto3
PyPDF2
